

services:
  db:
    image: postgres:15
    container_name: online_store_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Kanye@12
      POSTGRES_DB: online_store
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: 
      context: ./backend  
      dockerfile: Dockerfile
    container_name: online_store_backend
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
  frontend:
    build: 
      context: ./frontend  # path to your React frontend
      dockerfile: Dockerfile
    container_name: online_store_frontend
    restart: always
    environment:
      - REACT_APP_API_URL=http://backend:8000
    depends_on:
      - backend
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/app 
volumes:
  postgres_data:
