* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  all: unset;
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  overflow-x: hidden;
}
button {
  font: inherit;
}
