/* src/pages/Payment.css */

.payment-page {
  padding: 40px;
  background: #f5f5f5;
  min-height: 100vh;
}

.payment-page h2 {
  margin-bottom: 30px;
}

.payment-container {
  display: flex;
  gap: 40px;
}

/* LEFT SIDE */
.payment-methods {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.payment-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.payment-card:hover {
  border-color: #ff6f00;
}

.payment-card.active {
  border-color: #ff6f00;
  background: #fff3e0;
}

.payment-card h4 {
  margin-bottom: 8px;
}

.payment-card p {
  color: gray;
  font-size: 14px;
}

/* RIGHT SIDE */
.order-summary {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
}

.order-summary h3 {
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.summary-row.total {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.confirm-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn:hover {
  background: #333;
}
