* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #18b300ff;        
  --main-color-hover: #64ca35ff;  
  --secondary-color: #E7E7E7;   
  --box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  --text-color: #f10000ff;        
}
body {
  font-size: 14px;
  color: #303030;
  overflow-x: hidden;
  background: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--main-color-hover);
}
